*{
    margin: 0;
    padding: 0;
}
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list .logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list .logo img {
    width: 32%;
    border: 2px solid white;
    border-radius: 50%;
}
.nav-list li {
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.nav-list li a:hover {
    color: gray;
}
.rightNav {
    padding: 0 23px;
    text-align: right;
    position: relative;
    width: 30%;
}
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 10px;
}
.btn {
    padding: 5px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 10px;
}

.background {
    background: rgba(0,0,0,0.7)url("./Image/banner/banner1.jpg");
    background-size: cover;
    background-blend-mode: darken;   
}


/*================ Nav End============================= */

/* ===============Section 1 ========================== */
.firstSection {
    height: 100vh;
}
.box-main {
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.firstHalf {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button {
   margin: 7px 0;
   background: none;
   cursor: pointer;
   color: white;
   transition: 0.3s;
}
button:hover {
    color: black;
}
.secondHalf {
    width: 30%;
}
.secondHalf img {
    width: 70%;
    border: 2px solid white;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.text-big {
    font-size: 30px;
}
.text-small {
    font-size: 15px;
}

/* ============= Section 1 End ============================ */

/* ============== Section Right ====================== */

.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.left {
    flex-direction: row-reverse;
}

.paras{
    padding: 0 65px;
}

/* =============== section contact ================================= */
.contact {
    background: #f6f0f0;
    height: 700px;
}

.contact-heading {
    padding: 30px;
    text-align: center;
}

.form {
    max-width: 70%;
    margin: 42px auto;
}
.form .form-item {
    width: 100%;
    margin: 14px 0;
    padding: 8px 10px;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
}
.btn-dark {
    color: black;
}

.text-footer {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 20px;
    padding: 30px 0;
    color: whitesmoke;
}
